SOURCE_DIR=/path/to/photos-and-videos
OUTPUT_DIR=/path/to/output
EXTENSIONS=.jpg,.jpeg,.heic,.heif,.png,.tiff,.tif,.mp4,.mov,.m4v,.avi,.mkv,.3gp
NO_DATE_FOLDER=no_date
OUTPUT_PREFIX=extraction_
GROUP_BY=tree # date, tree
